* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #23272a;
}

a {
  text-decoration: none;
}
header {
  color: white;
  background-image: url("./img/jumbo.png");
  background-size: cover;
  padding-block: 2%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3%;
}

nav .nav-bar {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.nav-bar li {
  list-style-type: none;
  color: white;
}
.nav-bar li a {
  color: white;
  font-size: 16px;
}

header .accedi {
  background-color: white;
  padding: 10px 20px 0;
  border-radius: 20px;
  text-align: center;
  font-weight: lighter;
}
header .accedi a {
  color: #000000;
}
.head-jumbotron {
  margin: 20px auto 5%;
  width: 60%;
  text-align: center;
}

.head-content h2,
.head-content p {
  margin-block: 3%;
  line-height: 1.5;
}

.head-content h2 {
  font-size: 30px;
}

.head-cta {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.btn-cta1,
.btn-cta2 {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.btn-cta1 a {
  color: #000000;
}
.btn-cta2 {
  background-color: #23272a;
}
.head-cta .btn-cta2 a {
  color: white;
}
/*////////////section 123//////*/

.section-3,
.section-2,
.section-1 {
  padding-block: 2%;
}
section .flex-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

section figure {
  width: 60%;
}
main .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

main .text-box h3 {
  font-size: 30px;
  margin-bottom: 2rem;
}

main .text-box p {
  font-size: 20px;
}
section.section:nth-of-type(even) {
  background-color: #fff;
}

section.section:last-child {
  background-color: #f6f6f6;
}

.section-4 {
  padding-block: 2%;
  padding-bottom: 50px;
  text-align: center;
}
/* ////section-4-content */

.section-4 figure {
  width: 100%;
}

.section-4 .jumbotron {
  margin-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.section-4 .jumbotron h3 {
  background-image: url("./img/stars.svg");
  background-size: contain;
  background-position: center;
}

.section-4 .btn {
  background-color: #8ea1e1;
  padding: 10px 20px;
  width: 30%;
  border-radius: 20px;
  margin: 0 auto;
}

.section-4 .btn a {
  color: white;
}

.section-4 .flex-container {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
/*////////////footer/////////*/
footer {
  color: #fff;
  padding: 40px;
  background-color: #23272a;
  line-height: 2;
}
footer h4 {
  color: #7289da;
}

.footer-top {
  display: flex;
  width: 100vw;
  gap: 10px;
  margin-bottom: 2rem;
}
.footer-content1,
.footer-content2,
.footer-content3,
.footer-content4,
.footer-content5 {
  width: calc(100% / 7);
}

.footer-top ul li {
  list-style-type: none;
}

.footer-top ul li a {
  color: white;
}
.footer-content1 h4 {
  font-size: 30px;
}
.footer-content1 {
  flex-basis: 20%;
  line-height: 1;
}
.lang-block {
  margin-block: 1rem;
}
.lang-block span i {
  cursor: pointer;
}
#social-nav {
  display: flex;
  gap: 2rem;
}

footer hr {
  color: #7289da;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* .footer-bottom figure, */
.footer-bottom .btn {
  background-color: #7289da;
  padding: 8px 20px 0;
  border-radius: 30px;
}
.footer-bottom .btn a {
  color: #fff;
}
