* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header,
.section-1,
.section-2,
.section-3,
.section-4,
footer {
  padding-inline: 7%;
}
a {
  text-decoration: none;
}
header {
  color: white;
  background-image: url("./img/jumbo.png");
  background-size: cover;
  padding-block: 2%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

nav .nav-bar {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.nav-bar li {
  list-style-type: none;
  color: white;
}
.nav-bar li a {
  color: white;
  font-size: 16px;
}

header .accedi {
  background-color: white;
  padding: 5px 10px 0;
  border-radius: 20px;
  text-align: center;
  font-weight: lighter;
}
header .accedi a {
  color: #000000;
}
.head-jumbotron {
  margin: 20px auto 5%;
  width: 60%;
  text-align: center;
}

.head-content h2,
.head-content p {
  margin-block: 3%;
  line-height: 1.5;
}

.head-content h2 {
  font-size: 30px;
}

.head-cta {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.btn-cta1,
.btn-cta2 {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.btn-cta1 a {
  color: #000000;
}
.btn-cta2 {
  background-color: #23272a;
}
.head-cta .btn-cta2 a {
  color: white;
}

.section-3,
.section-2,
.section-1 {
  padding-block: 2%;
}
.flex-container {
  display: flex;
  gap: 20px;
}
main figure,
main article {
  min-height: 400px;
}
main figure {
  width: 70%;
}
main .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 1.5;
}

main .text-box h3 {
  font-size: 40px;
  margin-bottom: 2rem;
}

main .text-box p {
  font-size: 20px;
}
main article {
  width: 40%;
  border: 1px solid rgb(43, 42, 42);
}
.section-2,
.section-4 {
  background-color: #f6f6f6;
}
.section-4 {
  min-height: 80vh;
  padding-block: 2%;
  padding-bottom: 50px;
}
.section-4-content {
  min-height: 20vh;
  background-color: #c3d4fb;
}

.section-4 figure {
  width: 100%;
  min-height: 45vh;
}
.section-4 .jumbotron {
  min-height: 20vh;
  background-color: #c3d4fb;
  margin-inline: 10%;
  display: flex;
  flex-direction: column-reverse;
}

.section-4 .jumbotron .btn {
  height: 2%;
  background-color: #3161e0;
}

.section-4 .flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  min-height: 70vh;
  padding: 40px;
  background-color: #23272a;
}

.footer-top {
  display: flex;
  width: 100vw;
  min-height: 50vh;
  gap: 10px;
}

.footer-content1,
.footer-content2,
.footer-content3,
.footer-content4 {
  width: calc(100% / 5.5);
  min-height: inherit;
  border: 1px solid white;
}

.footer-content1 {
  flex-basis: 30%;
}

footer hr {
  color: lightgray;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom figure,
.footer-bottom .btn {
  width: 10%;
  min-height: 60px;
  background-color: #3c3f41;
}
